<?xml version="1.0" encoding="UTF-8"?>
			<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd">

 <configuration>

 <typeAliases>
 		<typeAlias type="com.ko.home.BankBook.BankBookCommentDTO" alias="BankBookCommentDTO"/>
 		<typeAlias type="com.ko.home.util.CommentPager" alias="CommentPager"/>
 		<typeAlias type="com.ko.home.BankBook.BankBookDTO" alias="BankBookDTO"/>
 		<typeAlias type="com.ko.home.bankmembers.BankMembersDTO" alias="BankMembersDTO"/>
 		<typeAlias type="com.ko.home.BankAccount.BankAccountDTO" alias="BankAccountDTO"/>
 		<typeAlias type="com.ko.home.bankmembers.RoleDTO" alias="RoleDTO"/>
 		<typeAlias type="java.lang.String" alias="String"/>
 		<typeAlias type="java.lang.Long" alias="Long"/>
 		<typeAlias type="java.util.List" alias="List"/>
 		<typeAlias type="com.ko.home.util.Pager" alias="Pager"/>
 		<typeAlias type="com.ko.home.board.notice.NoticeDTO" alias="NoticeDTO"/>
 		<typeAlias type="com.ko.home.board.qna.QnaDTO" alias="QnaDTO"/>
 		<typeAlias type="com.ko.home.board.impl.BoardDTO" alias="BoardDTO"/>
 		<typeAlias type="com.ko.home.bankmembers.BankMemberFileDTO" alias="BankMemberFileDTO"/>
 		<typeAlias type="com.ko.home.board.impl.BoardFileDTO" alias="BoardFileDTO"/>
 		
 	
 	</typeAliases>

 </configuration>
