<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="d1">
        <h1>dom 6 page</h1>

        <ul id="list">

            <li>IU</li>
            <li>SUJI</li>
        </ul>

        <ol id="list2">
            <li>술</li>
            <li>음악</li>
        </ol>
    </div>

    <div id="d2">
        <h1>Append test</h1>
    </div>

    <div id="d3">
        <h1>after test</h1>
    </div>

    <button id="btn">image</button>
    <button id="add">add</button>
    <button id="add2">add2</button>
    <button id="add3">add3</button>
    <button id="add4">add4</button>
</body>
<script src="/resources/js/dom_6.js"></script>
</html>

