<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.ko.home.BankBook.BankBookCommentDAO">

<insert id="setCommentAdd" parameterType="BankBookCommentDTO">
insert into BB_Comment(NUM, BOOKNUM, WRITER, CONTENTS, REGDATE) values (BOARD_SEQ.NEXTVAL,#{bookNum},#{writer},#{contents},sysdate)
</insert>

<select id="getCommentList" parameterType="CommentPager" resultType="BankBookCommentDTO" >
select * FROM 
(select ROWNUM R, C.* FROM
(select * from BB_Comment
where booknum=#{bookNum}
ORDER BY NUM DESC) C)
WHERE R between #{startRow} and #{lastRow}
</select>

</mapper>