<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.ko.home.bankmembers.BankMembersDAO">

	<insert id="setAddFile">
	insert into memberfile (filename, oriname, username, filenum)
	values(FILE_SEQ.NEXTVAL, #{oriName}, #{userName}, #{fileNum})
	</insert>

	<select id="getLogin" parameterType="BankMembersDTO" resultType="BankMembersDTO">
		SELECT USERNAME, NAME FROM BANKMEMBERS WHERE USERNAME=#{userName} AND PASSWORD=#{passWord}
	</select>
	
	<insert id="setJoin" parameterType="BankMembersDTO">
		INSERT INTO BANKMEMBERS VALUES (#{userName}, #{passWord}, #{name}, #{email}, #{phone})
	</insert>
	
	<select id="getSearchByID" parameterType="String" resultType="BankMembersDTO">
		SELECT * FROM BANKMEMBERS WHERE USERNAME LIKE '%'||#{userName}||'%' ORDER BY USERNAME ASC
	</select>
	
	<select id="getMyPage" parameterType="BankMembersDTO" resultMap="getMyPageResult">
      SELECT USERNAME, NAME, EMAIL, PHONE, ACCOUNTNUM, BOOKNAME, ACCOUNTDATE
      FROM BANKACCOUNT BA
      
          LEFT JOIN 
          BANKMEMBERS BM
          USING(USERNAME)
          
          LEFT JOIN
          
          BANKBOOK BB
          USING(BOOKNUM)
          
      WHERE USERNAME=#{userName}
   </select>
   
<!--    1:N 관계에는 collection 
      1:1 관계에는 association -->
   <resultMap type="BankMembersDTO" id="getMyPageResult">
      <id column="USERNAME" property="userName"/>
      <result column="NAME" property="name"/>
      <result column="EMAIL" property="email"/>
      <result column="PHONE" property="phone"/>
      <collection property="bankAccountDTO" javaType="List" ofType="BankAccountDTO">
         <id column="ACCOUNTNUM" property="accountNum"/>
         <result column="ACCOUNTDATE" property="accountDate"/>
         <association property="bankBookDTO" javaType="BankBookDTO">
            <result column="BOOKNAME" property="bookName"/>
         </association>
      </collection>
   </resultMap>
   
</mapper>