<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    
<mapper namespace="com.ko.home.board.notice.NoticeDAO">

<sql id="search">
where
	<choose>
		<when test="kind=='title'">title</when>
		<when test="kind=='writer'">writer</when>
		<otherwise>contents</otherwise>
	</choose>
	LIKE '%'||#{search}||'%'
</sql>

<select id="getList" resultType="NoticeDTO" parameterType="Pager" >
select * from
	(select rownum R, N.* from 
	(select * from notice
	
<include refid="search"></include>
	
	order by num desc)N)
where R between #{startRow} and #{lastRow}
</select>

<select id="getDetail" parameterType="BoardDTO" resultMap="getDetailResult" >
select N.*, NF.*
 from notice N
 LEFT JOIN
 NOTICEFILE NF
 ON N.NUM = NF.NUM
 where N.NUM=#{num}
</select>

<insert id="setAddFile" parameterType="BoardFileDTO">
		INSERT INTO NOTICEFILE
		VALUES(#{fileName}, #{oriName}, FILE_SEQ.NEXTVAL, #{num})
	</insert>


<insert id="setAdd" parameterType="BoardDTO">
		<selectKey order="BEFORE" keyProperty="num" resultType="Long">
			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
		</selectKey>
insert into notice(NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT) values (#{num},#{title},#{contents},#{writer},sysdate,0)
</insert>

<update id="setUpdate" parameterType="NoticeDTO" >
UPDATE notice SET TITLE=#{title}, CONTENTS=#{contents} where WRITER=#{writer}
</update>

<delete id="setDelete" parameterType="NoticeDTO">
DELETE notice WHERE NUM=#{num}
</delete>

<select id="getCount" resultType="Long" parameterType="Pager" >
select count(num) from notice

<include refid="search"></include>
	
</select>


<resultMap type="NoticeDTO" id="getDetailResult">
<id column="num" property="num"/>
<result column="title" property="title"/>
<result column="writer" property="writer"/>
<result column="contents" property="contents"/>
<result column="regdate" property="regdate"/>
<result column="hit" property="hit"/>
<collection property="boardFileDTO" javaType="List" ofType="BoardFileDTO">
<id column="FILENUM" property="fileNum"/>
<result column="FILENAME" property="fileName"/>
<result column="ORINAME" property="oriName"/>
</collection>
</resultMap>
		
</mapper>